body {
  background-image: url(images/rubics-cube.png);
  background-blend-mode: soft-light;
  max-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200vh;
}
.container {
  display: flex;
  justify-content: center;
  
  margin-block: 10em;
  margin-inline: 5em;
  
  
}
.container img{
  width: 100%;
  
  
}
main h1 {
  font-size: 45px;
  text-align: center;
}
p {
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 1rem;
  
}
.par {
  background-color: #c986a7;
  padding: 5em;
  width: 100%;
}

@media (max-width: 1000px) {
  .container {
  flex-direction: column;  
    margin-inline: 1em; 
    align-items: center;
  }
  
  .par {
    padding: 1em;
    
  }
  .hero{
    height: 40em;
  }
}
/* @media (min-width: 750px) and (max-width: 1058px) {
  .container {
    margin-inline: 2em;
  }
  .par {
    padding: 1em;
  }
} */
