.banner {
  background-image: url(images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5em;
  width: 100%;
  background-color: var(--alt-footer-color);
  padding-block: 5em;
 
}
@media (min-width:800px) {
  .banner{
  
    height: 30em;
   }
   .contact-container{
text-align: center;
   }
}
