:root {
  --main-color: #b67490;
  --page-color: #dcb9ca;
  --text-color: white;
  --main-font: "Poppins";
  --alt-font: "Playball";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body {
  background-color: var(--page-color);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: var(--alt-font);
  color: var(--text-color);
}
header {
  background-color: var(--main-color);
  text-align: center;
  position: fixed;
  width: 100%;
  box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, 0.15);
}
.logo {
  margin-block: 0.5em;
  margin-inline: 0.5em;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: var(--text-color);
  height: 3px;
  width: 2em;
  border-radius: 15px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: var(--main-color);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  
}
nav ul {
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--main-font);
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: var(--page-color);
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
footer{
  margin-top: auto;
  padding: 1em;
  background-color: var(--main-color);
}
@media (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(400px, 1fr) 1fr;
  }
  nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav li {
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: "";
    display: block;
    height: 3px;
    background-color: var(--text-color);
    position: absolute;
    top: 1.5em;
    left: 0.8em;
    right: 0;
    border-radius: 15px;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform ease-in-out 350ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
}
