* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-image: url(images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5em;
  width: 100%;
  background-color: var(--alt-footer-color);
  padding-block: 5em;
}
.container {
  padding-inline: 2em;
}
.container a{
color: white;

}

.img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 15em;
  margin-bottom: 1em;
}
.hero-img {
  background-image: url(images/project-9.png);
}
h1 {
  text-align: center;
}
.intro-info p {
  margin-bottom: 1em;
}
.example-1 {
  background-image: url(images/project-9-example-1.png);
}
.example-2 {
  background-image: url(images/project-9-example-2.png);
}
span {
  background: linear-gradient(to right, #fd4766, #7644ff, #1c99fe);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.par {
  font-weight: 200;
  margin-bottom: 2em;
  margin-top: 1em;
}

@media (min-width: 800px) {
  .banner {
    height: 30em;
  }
  .img {
    width: 30em;
    margin-right: 2em;
    margin-left: 2em;
  }
  .top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .intro-info {
    margin-top: 2em;
  }
  h1 {
    text-align: left;
  }
  .example-1,
  .example-2 {
    width: 140em;
  }
  .flex-1 {
    display: flex;
    flex-direction: row-reverse;
    
  }
  .flex-2 {
    display: flex;
  }
  .par-flex {
    display: flex;
  }
  .par-flex p {
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media (min-width: 1130px) {
  .img{
    width: 60em;
    height: 20em;
    margin-right: 0em;
  }
  .flex-1,.flex-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
}
@media (min-width: 1390px) {

  .flex-section {
    padding-inline: 2em;
  }
  .bottom-section{
    padding-inline: 10em;
  }
  .outcome{
    margin-left: 3em;
  }
  .par{
    margin-right: 5em;
    margin-left: 5em;
  }
  
}
