.container,
.banner {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-inline: 10em;
  padding-block: 2.5em;
}
.banner {
  background-color: var(--main-color);
  width: 100%;
  margin-top: 0;
}
.resume-logo {
  border-width: 2px;
  border-style: solid;
  border-color: var(--text-color);
  border-color: white;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.cols {
  display: flex;
  width: 100%;
  height: 100%;
}
.left-col {
  padding: 5em;
  background-color: #dcb4c7;
  width: 70%;
}
.prof-summary,
.accomplishments,
.work-history {
  margin-bottom: 2em;
}
.right-col {
  background-color: #d4afc0;
  width: 30%;
  padding: 5em;
  text-align: center;
}
.contact-info,
.skills {
  margin-bottom: 4em;
}
.skills ul li {
  list-style: none;
}
.links h2 {
  margin-block-start: 1em;
}
.links a {
  display: flex;
  justify-content: center;
  margin-block-start: 0.5em;
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--text-color);
  padding: 10px;
}
.work{
  margin-block-start: 1em;
}
