body {
  background-image: url(images/contact-background.jpg);
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  margin: auto;
}
h1 {
  font-size: 119px;
  font-family: var(--alt-font);
  color: var(--main-color);
}
